body {
    background-image: url("yarn.jpeg");
    background-size: cover;
    font-family:  Roboto, BlinkMacSystemFont, -apple-system, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.app-container {
    max-width: 85%;
    border: 3px solid indigo;
    border-radius: 10px;
    background-color: white;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
}

#repeat-count-el {
    color: darkred;
}

#row-count-el {
    color: indigo;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-row-btn {
    background: indigo;
}
#increment-repeat-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}